
sqlalchemy
fastapi
pydantic
python-jose
passlib
python-dotenv
uvicorn
bcrypt
cryptography
contextvars
minio
apscheduler
pymysql
websockets
uvicorn[standard]==0.34.0
websockets==13.1
uiautomator2
lxml
uiautomator2[image]
uiautodev
loguru

adbutils